.i-phone {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transform: translateY(2px);
}

.i-email {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transform: translateY(2px);
}

.i-map {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transform: translateY(2px);
}

.i-whatsapp{
  width: 24px;
  height: 24px;
  fill: currentColor;
  transform: translateY(2px);
}

.i-instagram {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transform: translateY(2px);
}