// Breakpoints ----------------------------------------

$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;

// ----------------------------------------




// Colors ----------------------------------------

$main-color: #76BF49;
$dark: #171A2B;
$light: white;
$gray: #888;

// ----------------------------------------