.banner {
  position: relative;
  color: $light;

  &__slide-bg {
    width: 100%;
    padding-top: 50%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: $lg) {
      padding-top: 60%;
    }

    transition: transform 20s ease;
  }

  .swiper-slide.swiper-slide-active .banner__slide-bg {
    transform: scale(1.35);
  }

  &__content {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 1;

    @media screen and (max-width: $md) {
      top: 33%;
    }
  }

  &__wrapper {
    max-width: 1170px;
  }

  &__title {
    font-size: 60px;
    line-height: 64px;
    max-width: 550px;
    margin-bottom: 10px;

    @media screen and (max-width: $md) {
      font-size: 34px;
      line-height: 30px;
      max-width: 350px;
    }
  }

  &__text {
    margin-bottom: 15px;
    max-width: 500px;

    @media screen and (max-width: $md) {
      max-width: 300px;
    }
  }

  &__btn {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}