.title {
  display: inline-block;
  width: 100%;
  font-size: 34px;
  line-height: 38px;
  font-weight: 700;
  color: $main-color;

  @media screen and (max-width: $md) {
    font-size: 28px;
    line-height: 32px;
  }

  &--center {
    text-align: center;
  }
}